body {
 font-family: "Roboto", sans-serif;
 color: #434455;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.page-header .main-nav {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-header .main-nav:hover, .page-header .main-nav:focus {
    color: red;
}

.page-header .page-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-header .page-address:hover, .page-header .page-address:focus{
    color: red;
}

.page-hero {
    background: #2e2f42;
}

#host-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-block {
    box-shadow: 0 4px 4px 0;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin-left: 636px;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.menu-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team .menu-item-title, .section-team .menu-item-text {
    text-align: center;
}

.page-footer {
    background-color: #2e2f42;
}

.page-footer #studio, .page-footer p {
    color: #f4f4fd;
}